<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/admin/app.css">
    <link rel="stylesheet" href="/css/admin/aside.css">
    <link rel="stylesheet" href="/css/admin/admin.css">
    <link rel="stylesheet" href="/css/user-normal/relatorio.css">
    <script src="/libs/jquery.min.js"></script>
    <script src="/js/adminjs/controladmin.js"></script>

    <title>Document</title>
</head>

<body>
    <div class="body">

        <aside>
            <div class="logo">
                <div class="status">
                    <div class="img"></div>
                    <div class="dot"></div>
                </div>
                <h5 class="nome">
                    <%= users.nome %>
                </h5>

            </div>

            <div class="container">
                <div class="links">


                    <a href="/admin/admindashboard">
                        <img id="rel">
                        Relatórios
                    </a>

                    <a href="/admin/usuario">
                        <img id="usu">
                        Usuários
                    </a>

                    <a href="/admin/contacto">
                        <img id="con">
                        Reclamações
                    </a>

                </div>

                <a href="/admin/logout" class="click">
                    <img id="admin">
                    Logout
                </a>
            </div>
        </aside>



        <div class="rel">
            
            <div class="contents"> 
               
                <% if (erroRegistro && erroRegistro.length >0 ) { %>
                    <div class="alert alert-danger" id="flash-message">
                      <%= erroRegistro %>
                    </div>
                    <script>
                        setTimeout(function() {
                          document.getElementById('flash-message').style.display = 'none';
                        }, 3000); // Tempo em milissegundos (neste exemplo, 5 segundos)
                      </script>
                  <% } %>
                  <% if (alertSearch && alertSearch.length >0 ) { %>
                    <div class="alert alert-danger" id="alert-search">
                      <%= alertSearch %>
                    </div>
                    <script>
                        setTimeout(function() {
                          document.getElementById('alert-search').style.display = 'none';
                        }, 3000); // Tempo em milissegundos (neste exemplo, 5 segundos)
                      </script>
                  <% } %>
                  <% if (espacos && espacos.length >0 ) { %>
                    <div class="alert alert-danger" id="flash-message">
                      <%= espacos %>
                    </div>
                    <script>
                        setTimeout(function() {
                          document.getElementById('flash-message').style.display = 'none';
                        }, 3000); // Tempo em milissegundos (neste exemplo, 5 segundos)
                      </script>
                  <% } %>
                <% if (successRegistro && successRegistro.length >0 ) { %>
                    <div class="alert alert-success" id="suceess-registro">
                      <%= successRegistro %>
                    </div>
                    <script>
                        setTimeout(function() {
                          document.getElementById('suceess-registro').style.display = 'none';
                        }, 3000); // Tempo em milissegundos (neste exemplo, 5 segundos)
                      </script>
                  <% } %>
                <form action="/admin/filtrar_relatorio" class="cards" method="post">
                  
                    <div class="card-body"><b class="titulo">Todos os Relatórios</b></div>
                    <div id="consult" class="my-2">
                        <input type="text" id="pesquisa" name="search" class="form-control mt"
                            placeholder="Diz o que procura">

                        <select name="tipo" id="select" class="form-control">
                            <option selected disabled>Selecionar</option>
                            <option value="acronimo">Tipo de teste</option>
                            <option value="nome">Nome do relatorio</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-success"> pesquisar </button>
                </form>

                <div class="all-books scroll">

                    <% if(Duties.length===0){%>

                        <h3 class="text-warning">Não existe Relatórios disponiveis</h3>
                        <%}else{ %>
                            <% Duties.forEach(function(duty){ %>
                                <% Atividades.forEach(function(activity){%>
                                    <% if(activity.id==duty.atividade_id){ %>
                                        <div class="book my-2">
                                            <div class="card-body">
                                                <input type="text" placeholder="nome" id="nome" value="<%= duty.nome %>"
                                                    disabled class="contain-nome form-control  ">
                                                <input type="text" placeholder="teste" value="<%=activity.nome%>" id="teste" disabled
                                                    class="contain-test form-control ">

                                            </div>
                                            <div class="card-body">
                                                <input type="text" value="<%= duty.created_at %>" placeholder="data"
                                                    id="data" disabled class="contain-data form-control ">
                                                <a href="/admin/delete_book/<%= duty.uuid %>" id="deletar" class="delete-book"></a>
                                                <a href="/admin/download/<%=duty.uuid%>/<%=duty.nome%>" id="download" class="download-book"></a>
                                            </div>
                                        </div>
                                        <%}%>
                                            <%})%>
                                            <%})%>
                                            <%}%>
                </div>

            </div>
        </div>
</body>

</html>