<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/admin/app.css">
    <link rel="stylesheet" href="/css/admin/aside.css">
    <link rel="stylesheet" href="/css/admin/admin.css">
    <link rel="stylesheet" href="/css/user-normal/relatorio.css">
    <script src="/libs/jquery.min.js"></script>
    <script src="/js/adminjs/controladmin.js"></script>

    <title>Document</title>
</head>

<body>
    <div class="body">

        <aside>
            <div class="logo">
                <div class="status">
                    <div class="img"></div>
                    <div class="dot"></div>
                </div>
                <h5 class="nome">
                    <%= users.nome %>
                </h5>

            </div>

            <div class="container">
                <div class="links">


                    <a href="/admin/admindashboard">
                        <img id="rel">
                        Relatórios
                    </a>

                    <a href="/admin/usuario">
                        <img id="usu">
                        Usuários
                    </a>

                    <a href="/admin/contacto">
                        <img id="con">
                        Reclamações
                    </a>

                </div>

                <a href="/admin/logout" class="click">
                    <img id="admin">
                    Logout
                </a>
            </div>
        </aside>



        <div class="rel">
            <div class="contents">

                <form action="/admin/filtrar_relatorio" class="cards" method="post">

                    <div class="card-body"><b class="titulo">Todos os Relatórios</b></div>
                    <div id="consult" class="my-2">
                        <input type="text" id="pesquisa" name="search" class="form-control mt"
                            placeholder="Diz o que procura">

                        <select name="tipo" id="select" class="form-control">
                            <option selected disabled>Selecionar</option>
                            <option value="acronimo">Tipo de teste</option>
                            <option value="nome">Nome do relatorio</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-success"> pesquisar </button>
                </form>

                <div class="all-books scroll">
   
                                    <% if(Duties.length === 1 && Atividades.length === 1 ){ %>
                                         
                                            <% if(Atividades.id == Duties.atividade_id) {%>
                                        <div class="book my-2">
                                            <div class="card-body">
                                                <input type="text" placeholder="nome" id="nome" value="<%= Duties.nome %>"
                                                    disabled class="contain-nome form-control  ">
                                                <input type="text" placeholder="teste" value="<%=Atividades.nome%>" id="teste" disabled
                                                    class="contain-test form-control ">

                                            </div>
                                            <div class="card-body">
                                                <input type="text" value="<%= Duties.created_at %>" placeholder="data"
                                                    id="data" disabled class="contain-data form-control ">
                                                <a href="/admin/delete_book/<%= Duties.uuid %>" id="deletar" class="delete-book"></a>
                                                <a href="/admin/download/<%=Duties.uuid%>/<%=Duties.nome%>" id="download" class="download-book"></a>
                                            </div>
                                        </div>
                                        <%}%>  
                                            
                                        <%}else{%> 
                                                
                                        <%Duties.forEach(function(dado){ %>
                                            <%Atividades.forEach(function(activity){%>
                                                <% if(activity.id == dado.atividade_id) {%>
                                            <div class="book my-2">
                                                <div class="card-body">
                                                    <input type="text" placeholder="nome" id="nome" value="<%= dado.nome %>"
                                                        disabled class="contain-nome form-control  ">
                                                    <input type="text" placeholder="teste" value="<%=activity.nome%>" id="teste" disabled
                                                        class="contain-test form-control ">
    
                                                </div>
                                                <div class="card-body">
                                                    <input type="text" value="<%= dado.created_at %>" placeholder="data"
                                                        id="data" disabled class="contain-data form-control ">
                                                    <a href="/admin/delete_book/<%= dado.uuid %>" id="deletar" class="delete-book"></a>
                                                    <a href="/admin/download/<%=dado.uuid%>/<%=dado.nome%>" id="download" class="download-book"></a>
                                                </div>
                                            </div>
                                            <%}%>
                                                <%})%>
                                                <%})%>
                                                <%}%> 


                </div>

            </div>
        </div>
</body>

</html>