<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/admin/app.css">
    <link rel="stylesheet" href="/css/admin/aside.css">
    <link rel="stylesheet" href="/css/admin/header.css">
    <link rel="stylesheet" href="/css/admin/section.css">
    <link rel="stylesheet" href="/css/admin/frequentes.css">
    <link rel="stylesheet" href="/css/admin/operacao.css">


    <script src="/libs/jquery.min.js"></script>
    <script src="/js/adminjs/controladmin.js"></script>
    <title>Document</title>
</head>

<body>

    <div class="app1">

        <aside>
            <div class="logo">
                <div class="status">
                    <div class="img"></div>
                    <div class="dot"></div>
                </div>

                <h5 class="nome">
                    <%= users.nome %>
                </h5>

            </div>

            <div class="container">
                <div class="links">
                    <a href="/admin/admindashboard">
                        <img id="rel">
                        Relatórios
                    </a>



                    <a href="/admin/usuario">
                        <img id="usu">
                        Usuários
                    </a>

                    <a href="/admin/contacto">
                        <img id="con">
                        Reclamações
                    </a>

                </div>

                <a href="/admin/logout" class="click">
                    <img id="admin">
                    Logout
                </a>
            </div>

        </aside>
        <div class="coluna">
            <header>
                <a class="todos">
                    <div class="img"></div><b>Todos</b>
                </a>
                <a class="frequentes"  >
                    <div class="img"></div><b>Frequência</b>
                </a>
                <a class="operacoes" >
                    <div class="img"></div><b>Atividades</b>
                </a>
            </header>
            <section>
                <div id="todos">
                    <div class="filtro my-3">

                        <p class="titulo"><b>Todos Usuários</b></p>
                        <form action="/admin/search" method="post">

                            <input type="text" id="pesquisa" name="search" class="form-control " placeholder="pesquisa">

                            <select name="tipo"  class=" form-control"> 
                                <option disabled selected>Selecionar</option>
                                <option value="email">  Email do usuário</option>
                                <option value="nome">Nome do Usuário</option>

                            </select>

                            <button type="submit" class="btn btn-primary">buscar </button>
                        </form>
                    </div>

                    <div class="usuarios">
                        <% dados.forEach(function(dado){%>
                            <form action="/admin/update" id="quadrados" method="post">
                                <div class="row1">
                                    <input type="text" name="id" hidden value="<%= dado.id %>">

                                    <div class="personal"></div>
                                    <input type="text" name="nome" value="<%= dado.nome%>" class="form-control ">

                                    <input type="text" name="email" value="<%= dado.email%>" class="form-control ">




                                </div>
                                <div class="row2">



                                    <input type="text" name="bipassrecover" value="<%=dado.bipassrecover %>"
                                        class="form-control ">

                                    <a class="btn btn-danger " href="/admin/delete/<%=dado.id%>" target="_self">Excluir</a>

                                    <button type="submit" id="sendLink" class="btn btn-success my-2"
                                        target="_self">Update
                                    </button>

                                </div>

                            </form>
                            <% }); %>
                    </div>
                </div>

                <div id="frequentes">
 

                        <p class="titulo my-2"><b>Usuários Online</b></p>
                        <div class="cards" id="ativos">
                            <div class="dados-ativos ">
                                <div class="row1"> 
                                    <label for="nome"><b>Nome</b></label> 
                                    <label for="data"><b>Data de Acesso</b></label>
                                </div>

                                <div id="onlines" class="scroll">
                                    <% userOnlines.forEach(function(online){%>
                                        <% ons.forEach(function(on){%>
                                            <% if(online.id == on.user_id){%>
                                        <div class="row2">
                                            <input type="text" name="nome" id="nome" value="<%=online.nome %>" class="form-control" disabled> 
                                            <input type="text" name="data" id="data" value="<%= on.created_at %>" class="form-control" disabled>
                                        </div>
                                        
                                    <% }; %>
                                    <% }); %>
                                    <% }); %>
                                </div>
                            </div>





                        </div>


                        <p class="titulo my-2"><b>Usuários Offline</b></p>
                        <div class="cards" id="inativos">

                            <div class="dados-ativos  ">
                                <div class="row1">
 
                                    <label for="nome"><b>Nome</b></label> 
                                    <label for="data"><b>Data de Saída</b></label>
                                </div>
                                
                                <div id="offlines" class="scroll">
                                         
                                <% userOfflines.forEach(function(offline){%>
                                <% offs.forEach(function(off){%>
                                    <% if(offline.id == off.user_id){%>
                                    <div class="row2">
                                        <input type="text" name="nome" id="nome" value="<%=offline.nome %>" class="form-control" disabled> 
                                        <input type="text" name="data" id="data" value="<%= off.updated_at %>"  class="form-control" disabled>
                                    </div>
                                    
                                <% } %>
                                   
                                <% }); %>
                                <% }); %>
                                </div>

                            </div>

                        </div>
 
                </div>

                <div id="operacoes">

                    <div class="cards my-4">
                        <div class="body-card">
                            <canvas id="mychart"></canvas>
                        </div>
                        <a class="btn btn-success my-4" href="/admin/usuario"  >Atualizar gráfico</a>

                    </div>


                </div>

            </section>
        </div>
    </div>

</body>
<script src="/chartjs/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.2.0/chart.min.js"></script>
<script src="/js/adminjs/usuario.js"> </script>

</html>