<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/user-normal/aside.css">
    <link rel="stylesheet" href="/css/user-normal/section.css"> 
    <link rel="stylesheet" href="/css/user-normal/content.css">
    <title>Document</title>
</head>

<body class="app1">
 

    <aside>
        
        
        <p><b>AngoHunt</b></p>
     

        <div class="container">
            <div class="links">

                <a href="/user/userdashboard"> 
                    Home
                </a>

                <a href="/user/gerar_relatorio"> 
                    Gerar Relatorios
                </a>

                <a href="/user/consultar_relatorio"> 
                    Consultar relarios
                </a>

                <a href="/user/perfil"> 
                    Meu Perfil
                </a>

                <a href="/user/ajuda"> 
                    Reclamações
                </a>

            </div>
            
        </div>

        <div class="logo">
            <div class="status">
                <div class="img"></div>
                <div class="dot"></div>
            </div>
            <h5 class="nome"><%=users.nome %></h5>

        </div>
       
        
    </aside>

    <section class="perfil" >

        <div class="header">
            <a href="/user/logout" class="sair">
                <div class="img-sair"></div>
                Sair da conta
            </a>

            <a href="/user/excluir/<%=users.id%>" class="excluir">
                <div class="img-excluir"></div>
                Excluir conta
            </a>
        </div>


        <div class="sombra">
            <p class="titulo">
                <b> Dados Pessoais</b>
             </p>
             <form action="/user/update" method="post">
                <input type="text" name="id"  value="<%= users.id%>" hidden  >
                 <input type="text" name="nome" class="form-control my-2" value="<%= users.nome%>" placeholder="Nome">
                 <input type="password" name="password" class="form-control my-2" value="<%= users.password%>" placeholder="Senha">
                 <input type="email" name="email" class="form-control my-2" value="<%= users.email%>" placeholder="email">
                 <input type="text" name="bipassrecover" class="form-control my-2" value="<%= users.bipassrecover %>" placeholder="BI "> 
                     <button type="submit" class="btn btn-success">
                         salvar
                     </button> 
             </form>
        </div>


    </section>


</body>

</html>