


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/libs/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/user-normal/aside.css">
    <link rel="stylesheet" href="/css/user-normal/relatorio.css">
    <link rel="stylesheet" href="/css/admin/admin.css">
    <title>Document</title>
</head>
<body class="body">


    <aside>
        <p><b>AngoHunt</b></p>
     
        <div class="container">
            <div class="links">

                <a href="/user/userdashboard"> 
                    Home
                </a>

                <a href="/user/gerar_relatorio"> 
                    Gerar Relatorios
                </a>

                <a href="/user/consultar_relatorio"> 
                    Consultar Relatórios
                </a>

                <a href="/user/perfil"> 
                    Meu Perfil
                </a>

                <a href="/user/ajuda"> 
                    Reclamações
                </a>

            </div>
            
        </div>

        <div class="logo">
            <div class="status">
                <div class="img"></div>
                <div class="dot"></div>
            </div>
            <h5 class="nome"><%=users.nome %></h5>

        </div>


    </aside> 

    <div class="rel">
        <div class="contents">
            <% if (espacos && espacos.length >0 ) { %>
                <div class="alert alert-danger" id="flash-message">
                  <%= espacos %>
                </div>
                <script>
                    setTimeout(function() {
                      document.getElementById('flash-message').style.display = 'none';
                    }, 3000); // Tempo em milissegundos (neste exemplo, 5 segundos)
                  </script>
              <% } %>
              

              <% if (camposVazios && camposVazios.length >0 ) { %>
                <div class="alert alert-danger" id="campos-vazios">
                  <%= camposVazios %>
                </div>
                <script>
                    setTimeout(function() {
                      document.getElementById('campos-vazios').style.display = 'none';
                    }, 3000); // Tempo em milissegundos (neste exemplo, 5 segundos)
                  </script>
              <% } %>
              <% if (alertSearch && alertSearch.length >0 ) { %>
                <div class="alert alert-danger" id="alert-search">
                  <%= alertSearch %>
                </div>
                <script>
                    setTimeout(function() {
                      document.getElementById('alert-search').style.display = 'none';
                    }, 3000); // Tempo em milissegundos (neste exemplo, 5 segundos)
                  </script>
              <% } %>
            <form action="/user/filtrar_relatorio" class="cards"  method="post">

                <div class="card-body"><b class="titulo">Todos os Relatórios</b></div>
                <div id="consult" class="my-2">
                    <input type="text" id="pesquisa" name="search" class="form-control mt" placeholder="Diz o que procura">

                    <select name="tipo"  id="select"   class="form-control">
                        <option selected disabled>Selecionar</option>
                        <option value="acronimo">Tipo de teste</option>
                        <option value="nome">Nome do relatorio</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-success"> pesquisar </button>
            </form>

            <div class="all-books scroll">

                <% Duties.forEach(function(duty){ %>
                    <% Atividades.forEach(function(activity){ %>
                        <% if(duty.atividade_id == activity.id){%>
                    <div class="book my-3">
                        <div class="card-body">
                            <input type="text"  placeholder="nome" id="nome" value="<%=duty.nome %>" disabled class="contain-nome form-control  "> 
                            <input  type="text" placeholder="teste"  id="teste" value="<%= activity.nome %>" disabled class="contain-test form-control ">
                        </div>
                        <div class="card-body"> 
                                <input type="text" placeholder="data" id="data" value="<%= duty.created_at %>" disabled class="contain-data form-control  ">
                                <a href="/user/excluir_relatorio/<%= duty.uuid %>" id="deletar" class="delete-book"></a>
                                <a href="/user/download/<%=duty.uuid %>/<%= duty.nome %>"  id="download" class="download-book"></a>
                        </div>
                    </div>
                    
                <% }%>
                <% })%>

                <% })%>

            </div>

        </div>
    </div>


    
</body>
<script>

  
</script>
</html>